* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'podium49';
  src: url('fonts/PODIUMSharp49/font.woff') format('woff');
}

@font-face {
  font-family: 'podium96';
  src: url('fonts/PODIUMSharp96/font.woff') format('woff');
}

body {
  font-family: sans-serif;
}
section {
  height: 100vh;
  background: #ccc;
}
section h1 {
  text-align: center;
  font-size: 80px;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.intro-text {
  font-size: 36px;
  color: white;
  font-family: podium96;
  text-align: left;
  letter-spacing: 1%;
}
.hero {
  position: absolute;
  top: 0;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100vh;
  width: 35vw;
  z-index: 2;
}
.div1 {
  right: 0;
}
.div2 {
  flex-direction: column;
  padding-right: 8rem;
}
.div3 {
  right: 0;
  padding-left: 10rem;
}
.div4 {
  padding-left: 10rem;
}
